@model Labb4MvcAndRazor.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="mt-4">
    <h3 class="shadow-sm py-3 bg-white">@Model.Title <small class="text-muted">| @Model.Author</small></h3>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Genre</dt>
        <dd class="col-sm-9">@Model.Genre</dd>
        <dt class="col-sm-3">Published</dt>
        <dd class="col-sm-9">@Model.PublicationDate.ToString("d MMMM yyyy")</dd>
        <dt class="col-sm-3">Published by</dt>
        <dd class="col-sm-9">@Model.Publisher</dd>
        <dt class="col-sm-3">Number of pages</dt>
        <dd class="col-sm-9">@Model.NumberOfPages</dd>
        <dt class="col-sm-3">Language</dt>
        <dd class="col-sm-9">@Model.Language</dd>
        <dt class="col-sm-3">ISBN</dt>
        <dd class="col-sm-9">@Model.ISBN</dd>
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>
    </dl>
</div>

<div class="d-flex justify-content-between">
    @if (!Model.Loans.Any(b => b.LoanStatus == LoanStatus.Loaned))
    {
        <a asp-action="MakeALoan" asp-route-bookId="@Model.BookId" class="btn btn-outline-primary">Loan this book</a>
    }
    else
    {
        var currentLoan = Model.Loans.FirstOrDefault(b => b.IsLoaned);
        <div class="d-inline">
            @if (currentLoan != null)
            {
                <button class="btn btn-warning disabled me-2">Unavailable</button>
                if (!currentLoan.IsLate)
                {
                    <span>Due Date: @currentLoan.DueDate.ToString("d MMMM yyyy")</span>
                }
                else
                {
                    TimeSpan loanTimeSpan = DateTime.Now - currentLoan.DueDate;                    
                    <span class="text-danger">Late - @loanTimeSpan.Days days overdue</span>                           
                }
            }
            else
            {
                <div>Loan information not available</div>
            }            
        </div>        
    }    
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

