@model Labb4MvcAndRazor.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4 class="mt-3">Customer</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.CustomerId</dd>
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>
        <dt class="col-sm-3">Zip Code</dt>
        <dd class="col-sm-9">@Model.ZipCode</dd>
        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@Model.City</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Model.PhoneNumber</dd>
    </dl>

    <div class="d-flex gap-2">
        <a asp-action="Edit" asp-route-customerId="@Model.CustomerId" class="btn btn-outline-primary">Edit</a>
        <a asp-action="GetAllCustomers" class="btn btn-outline-secondary">Back to List</a>
    </div>

    <hr />
    <h4>Loans</h4>
    @if (Model.Loans.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Loaned</th>
                    <th>Due</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loan in Model.Loans)
                {
                    <tr>
                        <td>@loan.Book.Title</td>
                        <td>@loan.Book.Author</td>
                        <td>@loan.LoanDate.ToShortDateString()</td>
                        <td>@loan.DueDate.ToShortDateString()</td>
                        @if (loan.IsReturned)
                        {
                            <td class="text-success">Returned</td>
                        }
                        else if (loan.IsLate)
                        {
                            <td class="text-danger">Late</td>
                        }
                        else
                        {
                            <td>Loaned</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Loans.Any(l => l.LoanStatus != LoanStatus.Returned))
        {
            <a asp-action="ReturnBook" asp-route-customerId="@Model.CustomerId" class="btn btn-success mt-3">Return Books</a>
        }        
    }
    else
    {
        <div>@Model.Name's loan history is currently empty.</div>
    }
</div>


